<h1 mat-dialog-title>Add Product</h1>

<div mat-dialog-actions>
    <form [formGroup]="productForm">

        <label>
         
          <input type="hidden" formControlName="id">
         
        </label>
    
        <label>
          Product:
          <input type="text" formControlName="name" required>
          
        </label>
    
        <label>
          Quantity: 
         <input type="number" formControlName="quantity" required>  
            
        </label>
        <label>
            rate: 
           <input type="number" formControlName="price" required>  
              
          </label>
        
    
         <button type="submit"  class="cancel" (click)="cancel()">cancel</button>
        <button type="submit" [disabled]="productForm.invalid" (click)="onSubmit(productForm)">Submit</button>
      </form>
  
</div>
